*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #2a3056;
    --secondary: #43B0AF;
    --tertiary: #1D719D;
    --fourth: #81EC86;
    --fifth: #b1b9c5;
    --sixth: #fff;
}

#right-column-login{
    background-image: url('../images/misc/Login.png');
    background-size: cover;
    background-position: center;
}

#right-column-register{
    background-image: url('../images/misc/Register.png');
    background-size: cover;
    background-position: center;
}
